*.mp3
*.env
git rm -r --cached .
.venv/

venv/
bin/
lib/

.vscode
.codex
.agents


**/__pycache__/
*.py[cod]
*$py.class

*.wav
*.mp3


/playground/hyeonwoo/data/
/playground/hyeonwoo/models/
/playground/hyeonwoo/ESC-50-master/
/playground/hyeonwoo/ESC-50-master.zip
/playground/hyeonwoo/YAMNET/YAMNET_dataset
/playground/hyeonwoo/YAMNET/YAMNET_dataset_2s/
/playground/hyeonwoo/YAMNET/artifacts/*.npz
/playground/hyeonwoo/YAMNET/models/